body{
  color: #345678;
  font-family: monospace,sans-serif,serif;
  margin: 0;
  text-align: center;
}
.me{
  background-color: pink;
  padding: 120px;
}
h1{
  color: white;
  font-family: cursive,fantasy,monospace;
  font-size: 7rem;
  margin: 0 auto 0 auto;
  color: #432156;
}
h2{
  color: white;
  font-family: fantasy,sans-serif,fantasy;
  font-size: 1.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color:#345678;
  font-family: cursive,sans-serif,serif;
}
.chat{
  color: #435675;
  font-family: cursive,monospace,fantasy;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 70px;
  margin-top: 50px;
}
.into{
  font-size: 1.17em;
  margin-block-start:1em;
    margin-block-end:1em;
      margin-inline-start:0px;
        margin-inline-end:0px;
        color:#456578;
        line-height: 2;
        font-weight: 700;
        width: 40%;
        margin: auto;
        padding-bottom: 35px;
}
hr{
  border-style: none;
  border-top-style:dotted;
  border-width: 5px;
  border-color: grey;
  width: 4%;
  color: #532467;
}
.leftimage{
  border-radius: 50%;
  background-color: #432156;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.rightimage{
  border-radius: 50%;
  background-color: #455677;
  width: 25%;
  float: right;
  margin-left: 30px;
}
.known-row{
  width: 50%;
  margin: 10px auto 120px auto;
  color: #213455;
}
.know{
  margin-top: 80px;
  color: #123e45;
}
p{
  line-height: 2;
  font-weight: 700;
  color: #432876;
}
.button{
  background-color: #435798;
  border-radius: 12px;
  color:pink;
  font-family: cursive,fantasy,monospace;
  padding: 15px;
  text-decoration: none;
}
.button1{
  background-color: #434343;
  border-radius: 12px;
  color:white;
  font-family: cursive,fantasy,monospace;
  padding: 15px;
  text-decoration: none;
}
.button:hover{
  background-color: #7c4789;
  border-radius: 12px;
  color: red;
  font-family: fantasy,monospace,sans-serif;
  padding: 15px;
  text-decoration: none;
}
.button:hover{
  background-color: #7c4789;
}
.footer{
  background-color: #4a0e5c;
  padding: 50px 0 20px;
}
.footer a{
  color: #7c4789;
}
a{
  text-decoration: none;
  color: #432545;
}
.lnk{
  padding: 10px;
  color: #213456;
}
.lnk:hover{
  color:red;
}
.phone{
  margin: 70px 0px;
  color: #123565;
}
.navi{
  position: absolute;
              background-color: #333;
              list-style-type: none;
              width: 100%;
              padding: 0px;
}
.navi li{
  display: flex;
            flex-direction: column;
            float: left;
}
.navi li a{
  font-family: Georgia, 'Times New Roman', Times, serif;
          text-decoration: none;
          color: white;
          display: block;
          padding: 15px 53px;
          font-size: 24px;
}
.navi li a:hover{
  background-color: #111;
}
a{
  padding-right: 40px;
}
a:hover{
  color: #7c4789;
}
.me-education{
  background-color:pink;
  padding: 50px;
}
.education{
  color: #4a0e5c;
  font-family: monospace,sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;
}
.linkedin a {
  color:#473291;
  font-family: serif;
}
.edu-data-li{
  padding: 10px;
}
li{
  list-style-type: none;
}
.me-work {
  background-color: #f27569;
  padding:50px;
}
.pen{
  color: #568425;
  font-family: monospace;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 18px;
}
.lnk-web{
  line-height: 3;
}
.me-skills{
  background-color: #b46784;
  padding: 50px;
}
.skills-data{
  margin:0 auto 30px;
  width:50%;
}
table{
  font-family: sans-serif;
  margin: auto;
}
td{
  padding: 10px;
  text-align: center;
}
.navi a{
  color:#b36548;
}
